# Dockerfile
FROM {{agent_base_image}}
# Install curl
RUN apk add --no-cache curl
# Install docker-cli and docker-compose
RUN apk update && apk add docker-cli docker-compose
# Install Node.js and npm
RUN apk add --no-cache nodejs npm
# Install kubectl
RUN curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" \
    && chmod +x kubectl \
    && mv kubectl /usr/local/bin/
# Install Maven
RUN apk add --no-cache maven
# Add a docker group and make sure the appuser can access Docker
RUN addgroup -S docker && \
    addgroup jenkins docker

# Allow the Docker socket to be accessible by the docker group
#RUN chmod 666 /var/run/docker.sock